<?php

/**
 * @var Rbm\Test\Block\Homepage $block
 */
?>
<div id="user" data-bind="scope:'user'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
        {
            "#user": {
                "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
            }
        }

</script>
