<!--
/**
* Copyright © Borys Ruvinskyi. All rights reserved.
* See LICENSE_MONSOON.txt for license details
*/
-->
<form id="user-form" class="form">
    <h2 class="title" data-bind="i18n: 'FORM TITLE'" style="text-align: center;"></h2>
    <fieldset class="fieldset">
        <!-- ko foreach: getRegion('user-form-fields') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </fieldset>
    <div class="row">
        <div class="column">
            <button type="reset" class="action secondary">
                <span data-bind="i18n: 'Clear'"></span>
            </button>
        </div>
        <div class="column">
            <button type="button" data-bind="click: onSubmit" class="action primary submit-user">
                <span data-bind="i18n: 'Submit'"></span>
            </button>
        </div>

    </div>
</form>
